.title {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

html {
    background-color: #3d7eaa;
    background: -webkit-linear-gradient(to right, #1cd8d2, #93edc7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1cd8d2, #93edc7);
}

.box {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 30px;

}