.title {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

html {
    background-color: #3d7eaa;
}

.box {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 30px;

}