.title {
    width: 100%;
    text-align: center;
    align-items: center;
}

html {
    background-color: #3d7eaa;
    background: -webkit-linear-gradient(to right, #1cd8d2, #93edc7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1cd8d2, #93edc7);
}

.box {
    background-color: #fff;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);

}
  
.PutCep {
    width: 100%;
    margin-left: 100px;
    margin-top: 10px;
    padding-bottom: 140px;
    color: #2b646c;
    font-size: 18px;
    font-weight: bold;
}
  
.Cep {
    margin-left: 20px;
    color: #a9381f;
    font-size: 18px;
    letter-spacing: 3px;
}
  
.DataCep {
    margin-left: 30px;
    width: 100%;
    font-size: 12px;
    color: #2b646c;
}
  
.NextStep {
    position: absolute;
    justify-content: center;
    display: flex;
    width: 60%;
    margin-top: 160px;
    height: 100%;
}

.button{
    margin:10px 55px 10px 0;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 3px;
    padding: 6px 10px;
    cursor:pointer;
    color: black;
    height: 50px;
    width: 110px;
  
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
    background: #8be2af ;
    
    border: 1px solid #5c6f913;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}