.button{
    margin:10px 55px 10px 0;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 3px;
    padding: 6px 10px;
    cursor:pointer;
    color: #fff;
    height: 50px;
    width: 110px;
  
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
    background: #a5b8da;
    
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}